header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.links {
    margin-left: 500px;
}

/*Propriedades da Main*/
.texto1 {
    width: 900px;
    margin-left: 300px;
}

/*Propriedades do footer*/
footer{
    padding: 10px;
    display: flex;
    justify-content: center;
}

/*IMAGENS*/
.logo {
    margin-left: 280px;
}
.capaimagem {
    padding: 20px;
    display: flex;
    justify-content: center;
}


