#p1 {
    color: white;
    background-color: black;
}

#p2 {
    color: white;
    background-color: yellow;

}

#p3 {
    color: white;
    background-color:red;
}

#p4 {
    color: white;
    background-color: green;
}
#p5 {
    color: white;
    background-color: black;
}