.header {
    background-color: #BDB76B;
    width: 900px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto";  
}

a {
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    color: black;
}
.main {
    background-color: #BDB76B;
    width: 900px;
    height: 200px;
}

body {
    background-color: aliceblue;
}
.texto-sobre-ana {
    margin: 10px;
    font-family: "Roboto";  
}